table{
    width: 100%;
    margin:20px 0;
    text-align: left;
    border-collapse: collapse;
    

}
table th,table td{
    border:1px solid blue;
    padding: 8px;
}
table th{
    background-color: #f2f2f2;
    color: black;
}
